.background-image{
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:700px;
}
.goal-setting{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 40%;
}
.goal-setting__title{
    margin: 20px;
}
.goal-setting__form{
    width:100%;
}
.goal-setting__input-group{
    margin:20px 20px 40px;
}
.goal-setting__input{
    width: 95%;
    height:40px;
}
.goal-setting__button-group{
    display: flex;
    align-items: center;
    gap:20px;
    justify-content: center;
    margin-bottom:20px;
}
.back__button {
    display: flex;
    background-color: gainsboro;
    width: 40%;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
.goal-setting__button{
    background: linear-gradient(270deg, #fd89b0, #878ef3);
    color: white;
    border: none;
    height: 40px;
    width: 40%;
    border-radius: 10px;
}