svg.w-5.h-5 {     /*paginateメソッドの矢印の大きさ調整のために追加*/ 
    width: 30px; 
    height: 30px;
}
.header-link-icon,
.pencil{
    width: 25px;
    height: 25px;
}
.modal {
    display: none;
    /* 初期は非表示 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}